* {
    margin: 0;
}

html,
body {
    background-color: #fff;
    color: #0B1122;
    font-family: 'Lato';
    background: url(../img/background2.png) repeat-y;
}

.overHeader {
    background-color: #444;
    color: #fff;
    text-align: center;
    font-size: 80%;
    padding: 4px;
}

.mr4 {
    margin-right: 4px;
}

span.code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 85%;
}

span.success {
    color: #155724;
}

span.warning {
    color: #856404;
}

span.danger {
    color: #c7254e;
}

.circled {
    border-radius: 50px;
}

.tavatar {
    width: 28px;
    height: 28px;
    margin-top: -6px;
    margin-right: 4px;
}

.tname {
    font-size: 1.6rem;
}

.dropdown-menu>li>span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.mr12 {
    margin-right: 12px;
}

.spacer {
    margin: 6px;
}
